/* style.scss */
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto;
}

header {
  background-color: #35bd95;
}

#topNav {
  font-family: 'Open Sans', sans-serif;
  margin-top: 8%;
  height: 20px;
  color: #FFFFFF;
  /* mouse over link */
}
#topNav a {
  color: #707070;
  text-decoration: none;
  font-size: .9rem;
  padding: 0;
}
#topNav a:hover {
  color: #FFF;
}

#harryGorilla {
  margin-left: 35%;
  text-align: center;
  position: relative;
}

#harryGorilla:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  background: #999;
  right: 2%;
  bottom: -150%;
  transform: rotate(45deg);
  z-index: -1;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

#babyGorilla {
  margin-left: 5%;
  text-align: center;
  position: relative;
}

#babyGorilla:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  background: #999;
  right: 2%;
  bottom: -150%;
  transform: rotate(45deg);
  z-index: -1;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

#nonGorilla {
  margin-left: 5%;
  text-align: center;
  position: relative;
}

#nonGorilla:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  background: #999;
  right: 2%;
  bottom: -150%;
  transform: rotate(45deg);
  z-index: -1;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-left: 2%;
}

#choice1 {
  width: 10%;
  height: 10%;
  background-color: #35bd95;
}

#typeGorilla {
  margin-top: 8%;
  text-align: center;
  color: black;
}

#grid {
  width: 60%;
  margin-top: 0%;
  margin-bottom: 5%;
}

ul {
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li > img {
  width: 210px;
}

ul li {
  position: relative;
}

#topScroll {
  height: 70%;
  background-color: #35bd95;
  float: right;
  color: #FFFFFF;
  margin-top: 20%;
}
#topScroll a {
  text-decoration: none;
  color: #FFFFFF;
}

footer {
  text-align: center;
  background-color: #999;
  color: #FFFFFF;
}
